[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-core = "*"
google-cloud-storage = "*"
tqdm = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
twine = "*"
setuptools = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"

[scripts]
upload = "bash -c 'rm -r dist/* && python setup.py sdist bdist_wheel && twine upload dist/*'"
